<%- include('partials/header.ejs') %>
<div class="row mt-5">
    <div class="col-lg-6 mx-auto">
        <div class="card shadow">
            <div class="card-header">
                <h2 class="fw-bold text-secondary">Reset password</h2>
            </div>

            <div class="card-body p-4">
                <form action="/login" method="post">
                    <input type="hidden" name="token">
                    <div class="mb-3">
                        <label for="new_password">New Password</label>
                        <input type="password" name="new_password" id="new_password" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="confirm_new_password">Confirm New Password</label>
                        <input type="password" name="confirm_new_password" id="confirm_new_password" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Update password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>
